@import "variables";

.product {
  &__result {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 10px;

    &-front {
      background-image: url('/dist/image/car-volkswagen-passat-r-line-auto-show-zagreb-2018-modern-technology-public-show-vehicle.jpg');

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #151925;
        opacity: 0.6;
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        width: 600px;
        height: 100%;
        background-color: #151925;
      }
    }

    &-back {
      background-image: url('/dist/image/vw-passat-gte-dashboard.jpg');

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $white__color;
        opacity: 0.7;
      }
    }
  }

  &__form {
    position: relative;
    z-index: 3;
    margin-left: 120px;

    &-title {
      position: relative;
      z-index: 3;
      color: $white__color;
      font-weight: 300;
      font-size: 54px;
      max-width: 350px;
      margin: auto;
    }

    &-description {
      position: relative;
      z-index: 3;
      color: $white__color;
      font-weight: 300;
      font-size: 16px;
      max-width: 350px;
      margin: 10px auto;

      &-price {
        position: relative;
        z-index: 3;
        color: $white__color;
        font-weight: 300;
        font-size: 22px;
        max-width: 350px;
        width: 100%;
        margin: 0;
        padding: 0;

        .now {
          text-transform: uppercase;
          color: $main__color;
          font-weight: 700;
        }

        .only {
          color: $white__color;
          font-size: 22px;
        }

        .price {
          position: relative;
          color: $white__color;
          font-weight: 400;
          margin-left: 50px;

          &__new {
            font-size: 38px;
          }

          &__old {
            position: absolute;
            font-size: 22px;
            text-decoration: line-through;
          }
        }

        span {
          margin: 0 10px;

          &:first-child {
            margin: 0;
          }
        }
      }
    }

    &-label {
      margin: 10px auto;
      max-width: 350px;
      width: 100%;
    }

    &-input {
      outline: none;
      width: 100%;
      padding: 8px 10px;
      background-color: #ededed;
      border: 1px solid #ededed;
    }

    &-submit {
      color: $white__color;
      background-color: $main__color;
      outline: none;
      border: transparent;
      margin: 10px auto;
      border-radius: 50px;
      text-transform: uppercase;
      padding: 10px 35px;

      i {
        margin: 0 10px;
      }

      &:hover {
        background-color: $main__color_hover;
      }
    }

    &-image {
      background-color: $white__color;
      width: 420px;
      min-height: 350px;
      position: relative;
      left: -120px;
      box-shadow: 5px 5px 10px #6f6f6f;
      z-index: 2;

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 6px;
        height: 100%;
        background-color: $main__color;
        z-index: 2;
      }

      img {
        width: 100%;
      }
    }

    #del-countdown {
      margin: 10px auto;

      .timer {
        &__text {
          color: $white__color;
          font-size: 14px;
        }

        &__item {
          width: 50px;
          height: 50px;
          margin: 10px;
          font-size: 14px;
          color: $white__color;
          border: 1px solid $main__color;

          &__text {
            font-size: 12px;
          }
        }
      }
    }
  }

  &__benefits {
    margin-bottom: 35px;

    &-title {
      text-transform: uppercase;
      margin: 35px auto;
      font-size: 32px;
    }

    span {
      width: 50px;
      height: 50px;
      color: $main__color;
      font-weight: 700;
      font-size: 18px;
      border: 2px solid $main__color;
      border-right: 1px solid #dddddd;
      border-top: 1px solid #dddddd;
      border-radius: 50%;
      margin-bottom: 15px;

    }
  }

  &__description {
    &__title {
      text-transform: uppercase;
      margin: 35px auto;
      font-size: 32px;
    }

    &__text {

    }
  }
}

.buy__discount {
  background-color: $main__color;
  padding: 15px 10px;

  &-text {
    color: $white__color;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;

    .white {
      font-weight: 700;
    }
  }

  &-btn {
    color: $white__color;
    background-color: #151925;
    outline: 0;
    border: transparent;
    margin: 10px 0;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 35px;
    width: 250px;
    cursor: pointer;

    &:hover {
      background-color: #202432;
    }

    i {
      margin: 0 10px;
    }
  }

}

.gallery {

  &__title {
    text-transform: uppercase;
    margin: 35px auto;
    font-size: 32px;
  }

  .mosaicflow {
    &__item {
      padding: 3px;


      img {
        display: block;
        width: 100%;
        height: auto;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:hover {
          opacity: 0.6;
          filter: alpha(opacity=60);
        }
      }

    }

    &__column {
      float: left;
      width: 50%;
    }
  }
}

.how_to_use {
  &__title {
    text-transform: uppercase;
    margin: 35px auto;
    font-size: 32px;
  }

  span {
    width: 50px;
    height: 50px;
    color: $main__color;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid $main__color;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-radius: 50%;
    margin-bottom: 15px;

  }
}